<!DOCTYPE html>
<html>
  <head>
    <!-- <script src="lib/angular.js"></script>
    <script src="lib/angular-ui-router.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="//unpkg.com/angular-ui-router@0.4.2/release/angular-ui-router.js"></script>
    <script src="helloworld.js"></script>
    <script type="text/javascript" src="src/components/users.component.js"></script>
    <script type="text/javascript" src="src/components/users.controller.js"></script>
    <script type="text/javascript" src="src/app.run.js"></script>
    <!-- <script type="text/javascript" src="script.js"></script> -->
    <script>

    </script>

    <link rel="stylesheet" type="text/css" href="styles.css">

    <style>.active { color: #ff0099; font-weight: bold; }</style>
  </head>

  <body ng-app="helloworld" ng-controller="helloController">
    <a ui-sref="hello" ui-sref-active="active">Hello</a>
    <a ui-sref="about" ui-sref-active="active">About</a>
    <a ui-sref="more" ui-sref-active="active">More</a>
    <ui-view></ui-view>
    <!-- <input type="text" ng-model="username"> -->
    <!-- <button type="button" ng-click="helloController.userTest()">Find User</button> -->
    <!-- <div ng-repeat="number in helloController.arrayOfNone" style="width: 200px; height: 50px; background-color: red;" ng-click="helloController.writeLine()">{{ number }}</div> -->
    <users></users>

  </body>
</html>