<div ng-if="usersCtrl.recievedData.users.length > 0" class="users">
	<input style="width: 80%; margin: 20px;" type="text" name="userFilter" ng-model="userFilter">
    <!-- <div ng-repeat="user in usersCtrl.recievedData.users | filter: userFilter" class="user"> -->
    <div dir-paginate="user in usersCtrl.recievedData.users | itemsPerPage: 5 | filter: userFilter" class="user">
        <button type="button" ng-click="usersCtrl.showUserDetails(user)">Show {{user.login}}</button>
    </div>
    <dir-pagination-controls
    [max-size="5"]
    [direction-links="true"]
    [boundary-links="true"]>
    </dir-pagination-controls>
</div>
